$main-color: #572ee5;

$secondary-color: #5ed7c6;

$black-color: #000000;

$white-color: #fafafafa;

// DARK MODE

$bg-darkmode-color: #37383c;

$trending-bg-darkmode-color: #222326;

$text-darkmode-color: #ffffff;
